<div class="card  text-light pt-3 pb-3 h-100" style="box-shadow: 0px 0px 20px 0px rgba(3,3,3,0.1);">
    <div class="card-body radio" style="text-align:center">
        <h6 class="m-0" style="font-size:14px">
            <b>{{property}}</b>
        </h6>
            <!-- <label class="control control-solid control-solid-primary control--checkbox">
                <input type="radio" checked="checked"/>
                <span class="control__indicator" style="border-radius: 1520px!important;background: rgb(103, 73, 158)"></span>
                <h6 class="m-0" style="font-size:14px">
                  <b>{{property}}</b>
                </h6>
            </label> -->
        </div>
  </div>