
<aside class="left-sidebar">
    <nav class="sidebar-menu">
        <ul id="nav-accordion">
            <!-- <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" ti-home"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub">
                   
                    <li><a  href="dashboard-2.html">Dashboard 2</a></li>
                    <li><a  href="dashboard-3.html">Dashboard 3</a></li>
                    <li><a  href="dashboard-4.html">Dashboard 4</a></li>
                </ul>
            </li> -->

            <!-- <li class="nav-title">
                <h5 class="text-uppercase">Components</h5>
            </li> -->

            <li class="sub-menu">
                <a href="javascript:;" [routerLink]="['humanbase']">
                    <i class="fa fa-users"></i>
                    <span>Human base</span>
                </a>
                <ul class="sub">
                        <!-- <li><a  [routerLink]="['humandetail']">Human detail</a></li> -->
                        <li><a  [routerLink]="['manager']">For Manager</a></li>
                        <li><a  [routerLink]="['advisor']">For Advisor</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-comments"></i>
                    <span>Communication</span>
                </a>
                <ul class="sub">
                    <!-- <li><a  href="portlet-base.html">Portlets Base</a></li>
                    <li><a  href="portlet-advanced.html">Portlets Advanced</a></li> -->
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" [routerLink]="['advisor']">
                    <i class="fa fa-user-plus"></i>
                    <span>Advisor</span>
                </a>
                <ul class="sub">
                    <!-- <li><a  href="icon-font-awesome.html">Fontawesome Icons</a></li>
                    <li><a  href="icon-themify.html">Themify Icons</a></li>
                    <li><a  href="icon-simple-line.html">Simple line Icons</a></li>
                    <li><a  href="icon-weather.html">Weather Icons</a></li> -->
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" [routerLink]="['manager']">
                    <i class="fa fa-user-o"></i>
                    <span>Manager </span>
                </a>
                <ul class="sub">
                    <li><a  [routerLink]="['profile']"><i class="fa fa-circle-thin"></i> Iter di reclutamento</a></li>
                    <li><a><i class="fa fa-circle-thin"></i> lista dei desideri</a></li>
                    <li><a><i class="fa fa-circle-thin"></i> kit</a></li>
                    <li><a><i class="fa fa-circle-thin"></i> Banca dati</a></li>
                </ul>
            </li>

            <!-- <li class="sub-menu">
                <a href="javascript:;">
                    <i class="icon-calendar"></i>
                    <span>Calendar </span>
                </a>
                <ul class="sub">
                    <li><a  href="calendar-basic.html">Basic Calendar</a></li>
                    <li><a  href="calendar-external-events.html">External Events Calendar</a></li>
                    <li><a  href="calendar-list.html">List Calendar</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" icon-speech"></i>
                    <span>Forms</span>
                </a>
                <ul class="sub">
                    <li class="sub-menu">
                        <a  href="javascript:;">Form Control</a>
                        <ul class="sub">
                            <li><a  href="form-basic-input.html">Basic Input</a></li>
                            <li><a  href="form-input-group.html">Input Group</a></li>
                            <li><a  href="form-checkbox-radio.html">Checkbox & Radio</a></li>
                            <li><a  href="form-switch.html">Switch</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu" >
                        <a  href="javascript:;">Pickers</a>
                        <ul class="sub">
                            <li><a  href="date-picker.html">Date Picker</a></li>
                            <li><a  href="datetime-picker.html">Datetime & Time Picker</a></li>
                            <li><a  href="color-picker.html">Color Picker</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a  href="javascript:;">Advanced Form</a>
                        <ul class="sub">
                            <li><a  href="form-touchspin.html">Touchpin</a></li>
                            <li><a  href="form-select2.html">Select2</a></li>
                            <li><a  href="form-input-mask.html">Input Mask</a></li>
                            <li><a  href="form-multiple-select.html"> Multiple Select</a></li>
                            <li><a  href="form-dropzone.html"> Dropzone</a></li>
                            <li><a  href="form-ion-range-slider.html"> Ion Range Slider</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a  href="javascript:;" class="">Editos</a>
                        <ul class="sub">
                            <li><a  href="editor-summernote.html">Summernote</a></li>
                            <li><a  href="editor-markdown.html">Markdown</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a  href="javascript:;">Form Validation</a>
                        <ul class="sub">
                            <li><a  href="form-validation-basic.html">Basic Validation</a></li>
                            <li><a  href="form-validation-jquery.html">jQuery Validation</a></li>
                            <li><a  href="form-wizard.html">Form Wizard</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" icon-grid"></i>
                    <span>Data Tables</span>
                </a>
                <ul class="sub">
                    <li><a  href="table-basic.html">Basic Table</a></li>
                    <li class="sub-menu">
                        <a href="javascript:;">Data Tables</a>
                        <ul class="sub">
                            <li><a  href="table-datatable.html">Basic Datatable</a></li>
                            <li><a  href="table-datatable-show-hide.html">Toggle Col Datatable</a></li>
                            <li><a  href="table-datatable-ajax.html">Ajax Datatable</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" ti-pie-chart"></i>
                    <span>Charts</span>
                </a>
                <ul class="sub">
                    <li><a  href="flot-chart.html">Flot Charts</a></li>
                    <li><a  href="echart.html">eCharts</a></li>
                    <li><a  href="morris-chart.html">Morris Charts</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" icon-equalizer"></i>
                    <span>Extra Pages</span>
                </a>
                <ul class="sub">
                    <li><a  href="profile.html">Profile</a></li>
                    <li><a  href="search-result.html">Search Result</a></li>
                    <li><a  href="invoice.html">Invoice</a></li>
                    <li class="sub-menu">
                        <a  href="#">Sign In</a>
                        <ul class="sub">
                            <li><a  href="signin.html">Basic Sign In</a></li>
                            <li><a  href="signin-validate.html">jQuery Validate Sign In</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a  href="#">Sign Up</a>
                        <ul class="sub">
                            <li><a  href="signup.html">Basic Sign Up</a></li>
                            <li><a  href="signup-validate.html">jQuery Validate Sign Up</a></li>
                        </ul>
                    </li>
                    <li><a  href="lock-screen.html">Lock Screen</a></li>
                    <li><a  href="404-error.html">404 Error</a></li>
                </ul>
            </li>

            <li class="nav-title">
                <h5 class="text-uppercase">Layouts & Multi Level Menu</h5>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="active">
                    <i class=" ti-layout"></i>
                    <span>Layouts</span>
                </a>
                <ul class="sub">
                    <li><a  href="layout-blank.html">Blank Page</a></li>
                    <li><a  href="layout-box-container.html">Box Container</a></li>
                    <li><a  href="layout-leftside-hidden.html">Leftside Hidden</a></li>
                    <li><a  href="layout-leftside-hidden-rightside-open.html">Left Hidden Rightside Open</a></li>
                    <li><a  href="layout-bothside-open.html">Bothside Open</a></li>
                    <li><a  href="layout-rightside-overlay.html">Rightside Overlay</a></li>
                    <li><a  href="layout-rightside-pushed.html">Rightside Pushed</a></li>
                    <li><a  href="layout-header-leftside-not-fixed.html">Header & Leftside not Fixed</a></li>
                    <li class=""><a  href="layout-light-left-nav.html">Left Nav Light</a></li>
                    <li><a  href="layout-light-left-nav-alt.html">Left Nav Light Alt</a></li>
                </ul>
            </li>

           
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class=" ti-paint-bucket"></i>
                    <span>Multi level Menu</span>
                </a>
                <ul class="sub">
                    <li><a  href="javascript:;">Menu Item 1</a></li>
                    <li class="sub-menu">
                        <a  href="#">Menu Item 2</a>
                        <ul class="sub">
                            <li><a  href="javascript:;">Menu Item 2.1</a></li>
                            <li class="sub-menu">
                                <a  href="javascript:;">Menu Item 3</a>
                                <ul class="sub">
                                    <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                    <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
           

            <li class="nav-title">
                <h5 class="text-uppercase">Other Projects</h5>
            </li>

            <li>
                <a href="index.html">
                    <i class="fa fa-dot-circle-o text-danger"></i>
                    <span>Multi-Purpose Website</span>
                </a>
            </li>

            <li>
                <a href="index.html">
                    <i class="fa fa-dot-circle-o text-primary"></i>
                    <span>Email Template</span>
                </a>
            </li>
            <li>
                <a href="index.html">
                    <i class="fa fa-dot-circle-o text-warning"></i>
                    <span>Landing Website</span>
                </a>
            </li> -->
        </ul>
    </nav>
</aside>
<!--left sidebar end-->
