<div>
  <div class="height-md bbm">
    <div id="swiper-personal-life">
      <div class="personalSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="pgraph-container" >
            </div>
          </div>
          <div class="swiper-slide">
            <app-personal-life></app-personal-life>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h36">
    <div id="swiper-business-life">
      <div class="businessSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="tgraph-container">
            </div>
          </div>
          <div class="swiper-slide">
            <app-business-life></app-business-life>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height : 30%">
    <div class="sgraph-container">
    </div>
  </div>
</div>
