
 <div class="container-fluid">
 <div class="row" style="padding: 30px">
    <div  class="col-xl-3 col-sm-6 mb-4">
        <div class="card  text-light pt-3 pb-3 h-100" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
                <label class="control control-solid control-solid-primary control--checkbox">
                    <input type="checkbox" checked="checked"/>
                    <span class="control__indicator" style="border-radius: 1520px!important;background: rgb(103, 73, 158)"></span>
                </label>
            </div>
            <div class="col-9">
              <h6 class="m-0">Clienti</h6>
             
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- <div class="col-xl-3 col-sm-6 mb-4">
          <div class="card   text-light pt-3 pb-3 h-100" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
        <div class="card-body ">
          <div class="row">
            <div class="col-3">
                <label class="control control-solid control-solid-primary control--checkbox">
                    <input type="checkbox" checked="checked"/>
                    <span class="control__indicator" style="border-radius: 1520px!important; background: rgb(144, 160, 183)"></span>
                </label>
            </div>
            <div class="col-9">
              <h6 class="m-0">Prospects</h6>
              
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-4">
          <div class="card   text-light pt-3 pb-3 h-100" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
        <div class="card-body ">
          <div class="row">
            <div class="col-3">
                <label class="control control-solid control-solid-primary control--checkbox">
                    <input type="checkbox" checked="checked"/>
                    <span class="control__indicator" style="border-radius: 1520px!important; background: rgb(144, 160, 183)"></span>
                </label>
            </div>
            <div class="col-9">
              <h6 class="m-0">Candidate advisors</h6>
             
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-4">
          <div class="card   text-light pt-3 pb-3 h-100" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
        <div class="card-body ">
          <div class="row">
            <div class="col-3">
                <label class="control control-solid control-solid-primary control--checkbox">
                    <input type="checkbox" checked="checked"/>
                    <span class="control__indicator" style="border-radius: 1520px!important;background: rgb(144, 160, 183)"></span>
                </label>
            </div>
            <div class="col-9">
              <h6 class="m-0">Candidate Bankers</h6>
             
            </div>
          </div>
        </div>
      </div>
      </div> -->
</div>
</div>