<!-- <div class="row">
    <div class=" col-sm-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div id="multi-sates">
                    <div id="multi-states-container" style="height: 350px">
                        <kendo-chart>
                            <kendo-chart-series>
                                <kendo-chart-series-item type="column" [data]="[1, 2, 3, 5]">
                                </kendo-chart-series-item>
                                <kendo-chart-series-item type="column" [data]="[-1, -2, -3, -5]">
                                </kendo-chart-series-item>
                            </kendo-chart-series>
                        </kendo-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-sm-12 col-xl-6 col-md-12 row">
        <div class="card card-shadow mb-4 col-md-5 offset-md-1" style="box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);">
            <div class="card-body">
                <div class="row">
                    <div class="mb-3 col-sm-12  pt-3">
                        <strong>Report Dinamico</strong>
                    </div>
                    <div class="">
                            <canvas id="myChart-light" height="100"></canvas>
                        </div>
                </div>
            </div>
        </div>

        <div class="card card-shadow mb-4 col-md-5 offset-md-1" style="box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);">
            <div class="card-body">
                <div class="row">
                    <div class="mb-2 col-sm-12  pt-2">
                        <strong>Incontro</strong>
                    </div>
                    <div class="col-xl-6  col pt-4 pb-3">
                        <div id="sparkline_1" style="margin-top: -20px;"> <img src="../../../assets/img/user-copy.png" alt="John Doe" style=" border-radius: 50%;
                            width:  40px; height: 40px;
                           "> </div>
                        
                    </div>
                    <div class="col-xl-6  col">
                        <div class="ep_1" data-percent="48">
                            <b>John Doe</b></div>
                    </div>
                    
                </div>
               
                <div class="row col-md-12 col-sm-18">
                        <div class="mt-1 col-md-4">1</div>
                        <div class="mt-1 col-md-4">2</div>
                        <div class="mt-1 col-md-4">6</div>
                </div>
                <div class="row col-md-13 col-sm-18">
                        <div class="mt-1 col-md-4">Day</div>
                        <div class="mt-1 col-md-4">hrs</div>
                        <div class="mt-1 col-md-4">mins</div>
                </div>
               
            </div>
        </div>
        <div class="card card-shadow mb-4 col-md-5 offset-md-1" style="box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);">
                <div class="card-body">
                    <div class="row">
                        <div class="mb-3 col-sm-12  pt-3">
                            <strong>Campagna commerciale</strong>
                        </div>
                        <div class="col-xl-12 col-sm-12" style="height: 112px; background-image: url('../../../assets/img/philipshue-613851.png')">
                                      
                        </div>
                    </div>
                </div>
            </div>
        <div class="card card-shadow mb-4 col-md-5 offset-md-1" style="box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);">
            <div class="card-body">
                <div class="row">
                    <div class="mb-2 col-sm-12  pt-2" style="margin-top: -17px">
                        <strong>Appuntamenti</strong>
                    </div>
                    <div class="row col-md-13" style="margin-top: 42px">
                            <div class="mt-1 col-md-4" style="text-indent: 1em;">
                                    <div id="sparkline_1" style="margin-top: -20px;"> <img src="../../../assets/img/layer-1-copy.png" alt="John Doe" style=" border-radius: 50%;
                                        width:  40px; height: 40px;
                                       "> </div>
                            </div>
                            <div class="mt-1 col-md-4" style="text-indent: 1em;">
                                    <div id="sparkline_1" style="margin-top: -20px;"> <img src="../../../assets/img/layer-2-copy.png" alt="John Doe" style=" border-radius: 50%;
                                        width:  40px; height: 40px;
                                       "> </div>
                            </div>
                            <div class="mt-1 col-md-4" style="text-indent: 1em;">
                                    <div id="sparkline_1" style="margin-top: -20px;"> <img src="../../../assets/img/layer-3-copy.png" alt="John Doe" style=" border-radius: 50%;
                                        width:  40px; height: 40px;
                                       "> </div>
                            </div>
                    </div>
                    <div class="row col-md-13">
                            <div class="mt-1 col-md-4">Oggi 9am</div>
                            <div class="mt-1 col-md-4">Oggi 6pm</div>
                            <div class="mt-1 col-md-4">Domani 9am</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div  class="col-md-5" style="float: right; margin-left: 43px; margin-top: 10px; box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18);">
        <h6 style="margin-top: 17px;">Recent News and Activity</h6>
        <h6 style="color: deepskyblue">Sorpasserò Google e Amazon</h6>
        <span>La fiducia dei consumatori spingerà la nostra proposta cloud davanti a quelle di Larry Page e Jeff Bezos.
             I dati? Partiamo dal presupposto che debba trarne vantaggio l’utente, non noi. Perla il ceo Nadella, 
             che sull’intelligenza artificiale..</span>
             <h6 style="color: deepskyblue">Mps utile di 188 milioni. Il titolo vola</h6>
             <span>Il consenso di Bloomberg si aspettava una perdita di 6 milioni. Ricavi di 877 mln (-6% sul 2017),
                     raccolta complessiva a 193,2 miliardi (-6,4% anno su anno). Crediti deteriorati lordi a 42,6 mld (-1,5 mld).
                     Tier 1 al 14,4% (da 14,8% di fine dicembre). Ha inciso positivamente la riduzione del costo del funding </span>
                     <h6 style="color: deepskyblue">Generali Italia punta su più servizi, prevenzione e tecnologia</h6>
                     <span>La nuova linea di offerte è stata battezzata Immagina con Generali,
                          declinata sulle direttrici: futuro, benessere, mobilità e famiglia. </span>
                    </div>
</div> -->

<div class="container-fluid">
    <div class="row align-items-center" style="padding-top: 30px;">
    <div class="col-xl-7 col-lg-7 col-sm-6 col-xs-12"><h3>
        <b>Human Base for Advisor</b>
    </h3></div>
    <div class="col-xl-5 col-lg-5 col-sm-6 col-xs-12" style="text-align:right">
        <div class="search-bar">
           
            <input type="text" placeholder="Search" style="border:solid 0.5px #f2f2f2;margin-right:10px">
            <i class="fa fa-search"></i>
        </div>
    </div>
    </div>
    <div class="row align-items-center" style="padding-top: 30px;padding-bottom:30px;">
        <!-- <div class="col-1"></div> -->
        <div class="col-xl-2 col-lg-2 col-sm-6 col-xs-6" (click)="view('customeri')">
            <app-card [property]="customeri"></app-card>

        </div>
        <div class="col-xl-2 col-lg-2 col-sm-6 col-xs-6" (click)="view('prospect')">
            <app-card [property]="prospect"></app-card>

        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-6" (click)="view('upload')">
            <app-card [property]="upload"></app-card>

        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-xs-6" (click)="view('grouppi')">
            <app-card [property]="grouppi"></app-card>

        </div>
        <div class="col-xl-2 col-lg-2 col-sm-6 col-xs-6" (click)="view('detail')">
            <app-card [property]="detail"></app-card>

        </div>
        <!-- <div class="col-1"></div> -->
    </div>
</div>

<div *ngIf="viewSection == 'customeri'">
   <app-advisor-customer></app-advisor-customer>

</div>
<div *ngIf="viewSection == 'prospect'">
  <app-advisor-prospect></app-advisor-prospect>
  
</div>
<div *ngIf="viewSection == 'upload'" class="div-pad">
     upload Data
</div>
<div *ngIf="viewSection == 'grouppi'" class="div-pad">
     grouppi Data
</div>
<div *ngIf="viewSection == 'detail'" class="div-pad">
     detail Data
</div>