<div class="container-fluid">
  <div class="row" style="padding: 30px">

    <div class="col-lg-2 col-md-6 col-sm-12" >
      <mat-card class="manager-card" routerLink="./candidate"><mat-card-header> Candidate </mat-card-header></mat-card>
      <label class="control control-solid control-solid-primary control--checkbox">Personal Group
          <input type="checkbox" checked="checked" />
          <span class="control__indicator" style="background: rgb(103, 73, 158)"></span>
      </label>
    </div>


    <div class="col-lg-2 col-md-6 col-sm-12" >
      <mat-card class="manager-card"   routerLink="./my-advisor"> <mat-card-header>My Advisor</mat-card-header></mat-card>

      <label class="control control-solid control-solid-primary control--checkbox">Personal Group
          <input type="checkbox" checked="checked" />
          <span class="control__indicator" style="background: rgb(103, 73, 158)"></span>
      </label>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12" >
      <mat-card class="manager-card" routerLink="./upload-download"><mat-card-header> Upload and Download </mat-card-header> </mat-card>
      <label class="control control-solid control-solid-primary control--checkbox">Personal Group
          <input type="checkbox" checked="checked" />
          <span class="control__indicator" style="background: rgb(103, 73, 158)"></span>
      </label>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12" >
      <mat-card class="manager-card" routerLink="./personal-group"> <mat-card-header> Personal Group </mat-card-header> </mat-card>
      <label class="control control-solid control-solid-primary control--checkbox">Personal Group
          <input type="checkbox" checked="checked" />
          <span class="control__indicator" style="background: rgb(103, 73, 158)"></span>
      </label>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12" >
      <mat-card class="manager-card" routerLink="./dettaglio"> <mat-card-header> Dettaglio </mat-card-header> </mat-card>
      <label class="control control-solid control-solid-primary control--checkbox">Personal Group
          <input type="checkbox" checked="checked" />
          <span class="control__indicator" style="background: rgb(103, 73, 158)"></span>
      </label>
    </div>


  </div>
    <router-outlet></router-outlet>

</div>


<!-- <div class="container">
  <div class="row">
    <div class="col">
      Verticle Graph here ...
    </div>
    <div class="col">
     Pie chart type graph here ...
    </div>
  </div>
  </div> -->
