 <div class="row" style="padding: 30px">
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow" style="height: 200px;  background:rgb(219, 71, 61);">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6" >
                <h6 class="m-0 text-light">per i nostri clienti</h6>
                <p>- Servizi</p>
                <p>- Prodotti</p>
                <p>- Consulenti esterni</p>
              </div>
              <div class="checkbos-style">
                <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
<div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
  <div class="card card-shadow   " style="height: 200px; background: rgb(245, 180, 0);">
    <div class="card-body ">
        <div class="row">
            <div class=" col-6">
              <h6 class="m-0 text-light">Consulenza evolutaaaa</h6>
            </div>
            <div   class="checkbos-style">
              <label class="control control-solid control-solid-success control--checkbox">
                <input type="checkbox" checked="checked"/>
                <span class="control__indicator"></span>
            </label>
            </div>
        </div>
    </div>
</div>
</div>
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow   " style="height: 200px; background: rgb(66, 134, 243);">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6">
                <h6 class="m-0 text-light">Carriera</h6>
              </div>
              <div   class="checkbos-style">
                <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow   " style="height: 200px; background: rgb(16, 157, 89)">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6">
                <h6 class="m-0 text-light">per i nostri Consulenti</h6>
              </div>
              <div   class="checkbos-style">
                <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
<div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
  <div class="card card-shadow   " style="height: 200px; background:rgb(219, 71, 61)">
    <div class="card-body ">
        <div class="row">
            <div class=" col-6">
              <h6 class="m-0 text-light">Formazione</h6>
            </div>
            <div   class="checkbos-style">
              <label class="control control-solid control-solid-success control--checkbox">
                <input type="checkbox" checked="checked"/>
                <span class="control__indicator"></span>
            </label>
            </div>
        </div>
    </div>
</div>
</div>
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow   " style="height: 200px; background: rgb(245, 180, 0);">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6">
                <h6 class="m-0 text-light">Economics</h6>
              </div>
              <div   class="checkbos-style">
                <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow   " style="height: 200px; background: rgb(245, 180, 0)">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6">
                <h6 class="m-0 text-light">BiDiEye</h6>
              </div>
              <div   class="checkbos-style">
                <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
<div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
  <div class="card card-shadow   " style="height: 200px; background: rgb(66, 134, 243);">
    <div class="card-body ">
        <div class="row">
            <div class=" col-9">
              <h6 class="m-0 text-light">Clusterizzazione esigenze clientela</h6>
            </div>
            <div   class="checkbos-style">
              <label class="control control-solid control-solid-success control--checkbox">
                <input type="checkbox" checked="checked"/>
                <span class="control__indicator"></span>
            </label>
            </div>
        </div>
    </div>
</div>
</div>
  <div class="col-xs-6 col-sm-4" style="padding-left: 0px; padding-right: 0px">
    <div class="card card-shadow " style="height: 200px; background: rgb(16, 157, 89)">
      <div class="card-body ">
          <div class="row">
              <div class=" col-6">
                <h6 class="m-0 text-light">Piano di azione</h6>
              </div>
              <div class="checkbos-style">
                 <label class="control control-solid control-solid-success control--checkbox">
                  <input type="checkbox" checked="checked"/>
                  <span class="control__indicator"></span>
              </label>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
