<div class="row" style="padding-top: 15px">
  <div class="col-xs-2 col-sm-2 col-md-1 sm-12">
    <a>
      <img src="../../../assets/img/user.png" alt="John Doe" style=" border-radius: 50%;
        width:  100%;
       ">
    </a>
  </div>

  <div class="col-xs-4 col-sm-2 col-md-3 sm-12" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
    <h6>Anagrafica</h6>
    <div class="progress mb-4 progressbarsetting" style="height: 40px;">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%; background-color: rgb(219, 71, 61)"
        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <img style="width: 100%" src="../../../assets/img/2-layers@2x.PNG">
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <div>
      <span>In quel albo è iscritto ?</span>
      <span>Quali sono i componenti del suo nucleo famigliare ?</span>
      <span>Quale è il recapito della sua azienda ?</span>
      <span></span>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-3 sm-12">
      <div>
          <input type="text">
        </div>
        <div style="margin-top: 3px;">
          <input type="text">
        </div>
        <div style="margin-top: 3px;">
            <input type="text">
          </div>
  </div>

</div>
<div class="row " style="padding-top: 20px">
  <div class="col-xs-4 col-sm-2 col-md-3 offset-md-1 sm-12" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
    <h6>Professionale</h6>
    <div class="progress mb-4 progressbarsetting" style="height: 40px;">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%; background-color: rgb(219, 71, 61)"
        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <img style="margin-top: -17px; width: 100%" src="../../../assets/img/3-layers@2x.PNG">
  </div>
  <div class="col-xs-5 col-sm-3 col-md-2 sm-12">
    <div>
      <span>Che ruolo ricopre nella sua azienda ?</span>
      <span>Quanti dipendenti ci sono nella sua azienda ?</span>
    </div>
  </div>
  <div class="col-xs-5 col-sm-3 col-md-3 sm-12">
    <div>
      <input type="text">
    </div>
    <div style="margin-top: 3px;">
      <input type="text">
    </div>

  </div>

</div>
<div class="row " style="padding-top: 20px">
  <div class="col-xs-4 col-sm-2 col-md-3 offset-md-1 sm-12" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
    <h6>Mood style</h6>
    <div class="progress mb-4 progressbarsetting" style="height: 40px;">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%; background-color: rgb(219, 71, 61)"
        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <img style=" width: 100%" src="../../../assets/img/3-layers@2x.PNG">
  </div>
  <div class="col-xs-5 col-sm-3 col-md-2 sm-12">
    <div >
      <span>Quanto tempo dedica agli investimenti ?</span>
      <span>Quelli sono gli obiettivi del cliente?</span>
    </div>
  </div>
  <div class="col-xs-5 col-sm-3 col-md-3 sm-12">
    <div>
      <input type="text">
    </div>
    <div style="margin-top: 3px;">
      <input type="text">
    </div>

  </div>

</div>
<div class="row " style="padding-top: 20px">
  <div class="col-xs-4 col-sm-2 col-md-3 offset-md-1 sm-12" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
    <h6>Life style</h6>
    <div class="progress mb-4 progressbarsetting" style="height: 40px;">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%; background-color: rgb(219, 71, 61)"
        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <img style=" width: 100%" src="../../../assets/img/3-layers@2x.PNG">
  </div>
  <div class="col-xs-5 col-sm-3 col-md-2 sm-12">
    <div>
      <span>Quelli sono le sue passioni ?</span>
      <span>Quelli sono i suoi hobbies?</span>
    </div>
  </div>
  <div class="col-xs-5 col-sm-3 col-md-3 sm-12">
    <div>
      <input type="text">
    </div>
    <div style="margin-top: 3px;">
      <input type="text">
    </div>

  </div>

</div>
<div class="row " style="padding-top: 20px">
  <div class="col-xs-4 col-sm-2 col-md-3 offset-md-1 sm-12" style="box-shadow: 0px 2px 47px 4px rgba(3,3,3,0.1);">
    <h6>Patrimoniale</h6>
    <div class="progress mb-4 progressbarsetting" style="height: 40px;">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%; background-color: rgb(219, 71, 61)"
        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-2 col-md-2 sm-12">
    <img style=" width: 100%" src="../../../assets/img/3-layers@2x.PNG">
  </div>
  <div class="col-xs-5 col-sm-3 col-md-2 sm-12">
    <div >
      <span>Quale è la finalità di utilizzo dei suoi Immobili ?</span>
      <span>Quanto é la rendita del suo secondo immobile ?</span>
    </div>
  </div>
  <div class="col-xs-5 col-sm-3 col-md-3 sm-12">
    <div>
      <input type="text">
    </div>
    <div style="margin-top: 3px;">
      <input type="text">
    </div>

  </div>

</div>