
<div class="col-xs-16 col-sm-4 col-md-12 sm-12 offset-md-1" style="clear: both;">

<div class="container">
  <div class="row col-xs-16 col-sm-4 col-md-12 sm-12 smallsize">
    <div style="position: absolute;
      margin-top: 116px;">
      <h6>Primo contatto</h6>
    </div>
    <div class="col-xs-3 offset-md-2 col-md-2 col-sm-4 sm-12">
      <div style="width: 75px;
            height: 75px;
            border-radius: 50%;
            clear: both;
            margin-left: -32px;
            background-color: #f27078;">
        <img src="../../../assets/img/android-user-menu.png" style="margin-left: 18px;
            margin-top: 23px;">
      </div>
      <div style="width: 2px;
            height: 69px;
            clear: both;
            border: 1px solid #f27078;
            border: 2px solid #ff518a;
            background-color: #f27078;"></div>
    </div>
    <div class=" col-xs-3 col-md-1 col-sm-1 sm-12" style="
      margin-top: 116px;">
      <h6>Secondo  contatto</h6>
    </div>
    <div class="col-xs-3 offset-md-1 col-md-1 col-sm-4 sm-12">
        <div style="width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-left: -32px;
        background-color: #a2b973;
        opacity: 0.2;">
          <img src="../../../assets/img/ios7-people.png" style="margin-left: 18px;
              margin-top: 23px;">
        </div>
        <div style="width: 2px;
        height: 69px;
        border: 1px solid #a2b973;
        border: 2px solid #a2b973;
        background-color: #a2b973;
        opacity: 0.2;"></div>
      </div>
      <div class=" col-xs-3 col-md-1 col-sm-1 sm-12" style="
      margin-top: 116px;">
      <h6>Quarto  colloquio</h6>
    </div>
    <div class="col-xs-3 offset-md-1 col-md-1 col-sm-4 sm-12">
        <div style="width: 75px;
              height: 75px;
              border-radius: 50%;
              margin-left: -32px;
              background-color: #d5d3e1;">
          <img src="../../../assets/img/log-out.png" style="margin-left: 18px;
              margin-top: 23px;">
        </div>
        <div style="width: 2px;
              height: 69px;
              border: 1px solid #d5d3e1;
              border: 2px solid #d5d3e1;
              background-color: #d5d3e1;"></div>
      </div>
  </div></div>
  <div class="container">
  <ul class="breadcrumb col-xs-16 col-sm-4 col-md-12 sm-12">

    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li>
      <a href="#">
        <div style="width: 5px;
    height: 5px;
    background-color: #ffffff;"></div>
      </a>
    </li>
    <li></li>


  </ul>
</div>
<div class="container">
  <div class="row col-xs-16 col-sm-4 col-md-12 sm-12 smallsize">
    <div class="col-xs-3 col-md-2 col-sm-4 sm-12" style="clear: both; margin-left: 6px;">
      <div style="width: 2px;
      height: 60px;
      border: 1px solid #f5a34d;
      border: 2px solid #f5a34d;
      clear: both;
      background-color: #f5a34d;"></div>
      <div style="width: 75px;
      height: 75px;
      clear: both;
      border-radius: 50%;
      margin-left: -32px;
      background-color: #f5a34d;">
        <img src="../../../assets/img/android-call.png" style=" margin-left: 20px;
      margin-top: 23px;">
      </div>
    </div>
    <div class=" col-xs-3 col-md-1 col-sm-1 sm-12">
      <h6>Primo colloquio</h6>
    </div>
    <div class="col-xs-3 col-md-2  col-sm-4 sm-12" style="clear: both; margin-left: 45px;">
        <div style="width: 1px;
        height: 69px;
        border: 1px solid #47adb9;
        border: 2px solid #47adb9;
        background-color: #47adb9;
        opacity: 0.2;"></div>
        <div style="width: 75px;
        height: 75px;
        clear: both;
        border-radius: 50%;
        margin-left: -32px;
        background-color: #80dde79f;">
          <img src="../../../assets/img/android-social.png" style=" margin-left: 20px;
        margin-top: 23px;">
        </div>
      </div>
      <div class=" col-xs-3 col-md-1 col-sm-1 sm-12">
          <h6>Terzo  colloquio</h6>
        </div>
        <div class="col-xs-3 col-md-2 offset-md-1 col-sm-4 sm-12" style="clear: both;">
            <div style="width: 1px;
            height: 69px;
            border: 1px solid rgb(229, 229, 229);
            border: 2px solid rgb(229, 229, 229);
            background-color: rgb(229, 229, 229);
            opacity: 0.2;"></div>
            <div style="width: 75px;
            height: 75px;
            clear: both;
            border-radius: 50%;
            margin-left: -32px;
            background-color: rgb(229, 229, 229);">
              <img src="../../../assets/img/android-social.png" style=" margin-left: 20px;
            margin-top: 23px;">
            </div>
          </div>
          <div class="col-xs-3 col-md-1 col-sm-1 sm-12" style="margin-left: -20px;">
              <h6>Dimissioni</h6>
            </div>

  </div>
</div>
</div>
