<!--notification widget start-->
<aside class="right-sidebar">
  <div class="widget">
    <h3 class="mb-4 widget-title">Notification</h3>

    <div class="notification-list">
      <ul class="list-unstyled">
        <li>
          <div class="nt-thumb mr-3">
            <img src="assets/img/n1.png" alt="" />
          </div>
          <div class="nt-info">
            <a href="#" class="nt-title">Diverse Ltd.</a>
            <small class="text-muted">2 days ago</small>
            <p>
              <a href="#">www.diverse-test.com</a>
            </p>
          </div>
        </li>
        <li>
          <div class="nt-thumb mr-3">
            <img src="assets/img/n3.png" alt="" />
          </div>
          <div class="nt-info">
            <a href="#" class="nt-title">Black Friday Discount Offer</a>
            <small class="text-muted">2 days ago</small>
            <p>Nam libero tempore cum soluta nobis est eligendi.</p>
          </div>
        </li>

        <li>
          <div class="nt-thumb mr-3">
            <img src="assets/img/n2.png" alt="" />
          </div>
          <div class="nt-info">
            <a href="#" class="nt-title">Task Failed</a>
            <small class="text-muted">2 days ago</small>
            <p>Error: Invalid command found ... after [this class]</p>
          </div>
        </li>

        <li>
          <div class="nt-thumb mr-3">
            <img src="assets/img/n4.png" alt="" />
          </div>
          <div class="nt-info">
            <a href="#" class="nt-title">John Doe</a>
            <small class="text-muted">3 days ago</small>
            <p>Send you a contact request.</p>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <!--notification widget end-->

  <!--Active log widget start-->
  <div class="widget">
    <h3 class="mb-4 widget-title">Activity Log</h3>
    <div class="baseline baseline-border">
      <div class="baseline-list">
        <div class="baseline-info">
          <div>
            <a href="#" class="default-color">
              <strong>John Tasi</strong>
            </a> Prepare for the Meeting
            <span class="badge badge-pill badge-success">status</span>
          </div>
          <span class="text-muted">10:00 PM Sat, 10 Jan 2018</span>
        </div>
      </div>
      <div class="baseline-list baseline-border baseline-primary">
        <div class="baseline-info">
          <div>Video conference to client</div>
          <span class="text-muted">05:00 PM Sun, 02 Feb 2018</span>
        </div>
      </div>
      <div class="baseline-list  baseline-border baseline-success">
        <div class="baseline-info">
          <div>
            <a href="#" class="default-color">
              <strong>Tnisha</strong>
            </a> Submit a blog post
            <a href="#" class="">best admin template in 2018.</a>
          </div>
          <span class="text-muted">10:00 PM Sat, 10 Jan 2018</span>
        </div>
      </div>
      <div class="baseline-list  baseline-border baseline-warning">
        <div class="baseline-info">
          <div>
            <a href="#" class="default-color">
              <strong>New Request</strong>
            </a> 10 user request to approve or remove</div>
          <span class="text-muted">10:00 PM Sat, 10 Jan 2018</span>
        </div>
      </div>
      <div class="baseline-list  baseline-border baseline-info">
        <div class="baseline-info">
          <div>
            <a href="#" class="default-color">
              <strong>Mark Henry</strong>
            </a> added your friend list now</div>
          <span class="text-muted">10:00 PM Sat, 10 Jan 2018</span>
        </div>
      </div>
    </div>
  </div>
  <!--Active log widget end-->

  <!--stock widget start-->
  <div class="widget">
    <h3 class="mb-4 widget-title">Stocks</h3>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td>DOW</td>
            <td>1999</td>
            <td>
              <span class="badge badge-pill badge-primary">+ 0.10%</span>
            </td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>1299</td>
            <td>
              <span class="badge badge-pill badge-success">- 0.50%</span>
            </td>
          </tr>
          <tr>
            <td>SBUX</td>
            <td>1099</td>
            <td>
              <span class="badge badge-pill badge-danger">+ 0.20%</span>
            </td>
          </tr>
          <tr>
            <td>NKE</td>
            <td>2199</td>
            <td>
              <span class="badge badge-pill badge-warning">+ 1.25%</span>
            </td>
          </tr>
          <tr>
            <td>YOO</td>
            <td>999</td>
            <td>
              <span class="badge badge-pill badge-info">+ 3.00%</span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</aside>